{% extends "layout/base_auth.html" %}
{% block title %}Nova Senha{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-5 col-lg-4">
        <div class="card auth-card p-4 shadow-lg" style="background-color: #073b32; border-radius: 15px; border: none;">
            <div class="card-body">
                <div class="text-center mb-4">
                    <img src="{{ url_for('static', filename='img/logo_fun.jpg') }}" class="sidebar-logo mb-3 shadow">
                    <h4 class="text-white fw-bold">Validar Código</h4>
                    <p class="text-white-50 small">Enviamos um código para <strong>{{ email }}</strong></p>
                </div>

                <form method="POST">
                    {{ form.hidden_tag() }}

                    <div class="mb-4 text-center">
                        {{ form.code.label(class="form-label small text-white-50 w-100 text-start") }}
                        {{ form.code(
                        class="form-control text-center fs-3 fw-bold",
                        placeholder="000000",
                        maxlength="6",
                        style="letter-spacing: 8px; color: var(--studio-neon) !important; border-color:
                        var(--studio-cyan) !important;"
                        ) }}
                        {% for error in form.code.errors %}
                        <div class="text-danger mt-1 small">{{ error }}</div>
                        {% endfor %}
                    </div>

                    <div class="mb-4">
                        {{ form.password.label(class="form-label small text-white-50") }}
                        {{ form.password(class="form-control", placeholder="Sua nova senha") }}
                        {% for error in form.password.errors %}
                        <div class="text-danger mt-1 small">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <div class="d-grid">
                        {{ form.submit(class="btn btn-login") }}
                    </div>
                    
                </form>

                <div class="text-center mt-3">
                    <p class="text-white-50 small">Não recebeu o código?
                        <a href="{{ url_for('auth.forgot_password') }}" class="text-decoration-none"
                            style="color: var(--studio-cyan);">Tentar novamente</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}