venv/
*flask_session/
*env
node_modules/
package-lock.json
package.json
teste_cache.sqlite
*.env
*__pycache__
certifi/

*.pyc
__pycache__/
flask_session/
*.Zone.Identifier
*.token_google_drive.json
*.client_secret_172605207744-kpofdqv29cq87mufchb62at80odjicu5.apps.googleusercontent.com.json

*.github/
*.vscode/
*sh-scripts/



# Pastas de sessão e cache
flask_session/
__pycache__/
teste_cache.sqlite